.root {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.title {
    display: block;
    padding-left: 24px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 300;
    line-height: 64px;
    background-color: #3498db;
}

.link {
    border-left: 5px solid #3498db;
}