.root {
    padding: 20px 80px;
    border: 1px solid #3377aa;

    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.movieData {
    display: -webkit-flex;
    flex-flow: row wrap;
}

.leftContent {
    user-select: none;
}

.img {
    width: 265px;
    object-fit: cover;
}

.buttonGroup {
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.information {

}

.summary {

}

.comments {

}