.paper {
    padding: 3px 0;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.menuBox {
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.text {
    padding: 0 4px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #9E9E9E;

    user-select: none;
}

.flat_button {
    border: 0;
}

.expandMoreIcon {
    margin: 0;
}